.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span,
    & a {
        color: white;
    }

    & span {
        font-size: 1.2em;
    }

    & ul {
        display: flex;
        list-style: none;

        & li:not(:last-of-type) {
            margin-right: 1rem;
        }

        & a {
            text-decoration: none;

            &:hover,
            &.active {
                color: #bc9a6c;
            }
        }
    }
}
