*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3rem;
}

button {
    cursor: pointer;
}

.container {
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
}

.left-side,
.right-side {
    flex: 1;
}
